@charset "UTF-8";

/* CSS Reset */
body,
h1,
h2,
h3,
p,
div,
a,
table,
th,
td,
span,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "微軟正黑體", sans-serif;
  line-height: 1;
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #006699;
}

a:hover {
  color: #666;
  text-decoration: none;
}