/* 基本版面設定 */
body {
    margin: 24px 10px;
    color: #666;
}

#container {
    margin: 0 auto;
    width: 960px;
}

#content,
#headerpost {
    margin-bottom: 30px;
    overflow: hidden;
}

/* 頁首設定 */
#header {
    margin: 10px 0 10px;
}

#header #site img {
    width: 200px;
    margin-bottom: 10px;
}

#site {
    float: left;
}

/* 選單設定 */
#nav {
    font-size: 22px;
    float: right;
    text-transform: uppercase;
    margin-top: 20px;
}

#nav li {
    float: left;
    /* margin-top: 20px; */
}

#nav li a {
    color: black;
    margin-left: 20px;
    border-bottom: solid 5px transparent;
}

#nav li a:hover {
    border-bottom-color: #ff1e97;
}

/* 橫幅設定 */
#headerpost {
    background-image: linear-gradient(black, grey);
    overflow: hidden;
    clear: both;
    font-size: 16px;
    position: relative;
}

#headerpost img {
    float: left;
    width: 600px;
}

#headerpost #lead {
    float: left;
    width: 300px;
    color: white;
    overflow: hidden;
    margin-left: 25px;
}

#headerpost h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 20px 0;
}

#headerpost p {
    line-height: 1.3;
    font-size: 0.85em;
}

#headerpost .date {
    font-size: 0.85em;
    margin: 10px 0;
}

#headerpost .more {
    font-size: 1.125em;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

#headerpost .more a {
    display: block;
    color: white;
    background-image: url(/static/images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: 10px 50px;
}

#headerpost .more a:hover {
    color: #ff1e97;
}

.post{
    float: left;
    width: 220px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
.post img{
    width: 220px;
    height: auto;
}
.post h2{
    font-size: 1em;
    margin-top: 5px;
}

.post p{
    font-size: 0.85em;
    line-height: 1.2;
    margin: 10px 0 20px;
    text-align: justify;
    overflow: hidden;
    /* 文字太多要折行 */
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 設定行數最多幾行，之後的會以...隱藏 */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.post .date{
    font-size: 0.75em;
    float: left;
    padding: 4px 0 0 5px;
}

.more_s{
    float: right;
    font-size: 0.75em;
    border: solid 1px grey;
    border-radius: 5px;
    background-image: url(/static/images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 3px 25px 3px 5px;
    color: #069;
}
.post a{
    color: #7a7a7a;
}

.post a:hover{
    background-color: #f3ffb2;
    border-radius: 15px;
}

/* footer set */
#footer{
    clear: both;
    color: #fff;
    background-color: #333;
    padding: 10px 10px 20px;
}
#lowcase_logo{
    float: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #069;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 10px;
    text-transform: lowercase;
}

#lowcase_logo a{
    color: #fff;
}

#footer span{
    float: left;
    font-size: 14px;
    padding-top: 8px;
    font-weight: bold;
}
small{
    font-size: 12px;
    display: block;
}
/* 右下社群圖示 */
#iconmenu{
    float: right;
}

#iconmenu ul{
    padding-top: 3px;
}

#iconmenu li {
    display: inline;
}

#iconmenu li img{
    margin: 3px;
}
/* 下方選單 */
#submenu{
    clear: both;
    font-weight: bold;
}

#submenu ul{
    margin: 10px 0;
    padding-top: 3px;
    font-size: 14px;
}

#submenu li{
    display: inline;
}
#submenu a{
    color: #ff1e97;
    font-weight: bold;
    border-right: solid 1px #fff;
    padding-right: 6px;
    margin-right: 3px;
}

#submenu li:last-child a{
    border: none;
}
/* 舊瀏覽器用法
#submenu li+li+li a{
    border: none;
} */