<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>固定版面練習</title>

    <!-- 版面定義CSS(20:55) -->
    <link rel="stylesheet" href="../static/css/style-l.css">
    <link rel="stylesheet" href="/static/css/style-m.css" media="(min-width:641px) and (max-width:980px)">
    <link rel="stylesheet" href="/static/css/style-s.css" media="(max-width:640px)">
    <!-- 歸零版面CSS -->
    <link rel="stylesheet" href="/static/css/reset.css">
</head>

<body>
    <div id="container">
        <!-- 頁首區塊 -->
        <div id="header">
            <div id="site">
                <h1><a href="index.html"><img src="/static/images/Hololive_Production.png" alt="Hololive"></a></h1>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Category</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Member</a></li>
                </ul>
            </div>
        </div>
        <!-- 橫幅新聞區塊 -->
        <div id="headerpost">
            <img src="/static/images/Lamy1.png" alt="">
            <div id="lead">
                <h2>Hololive</h2>
                <p>人里離れた白銀の大地に住む、雪の一族の令嬢。
                    ホロライブの笑顔や彩りあふれる配信に心を打たれ、お供のだいふくと共に家を飛び出した。
                    真面目だが世間知らずで抜けたところがある。<br><br>
                    住在杳無人煙的銀白色大地上的，雪之一族的少女。
                    被hololive成員們的笑容和精彩的直播觸動心弦，帶著大福從老家跑了出來。
                    雖然性格正經，但因不諳世事，所以也會有脫線的舉動。 </p>
                <p class="date">2022年09月18日</p>
                <p class="more"><a href="#">MORE</a></p>
            </div>
        </div>
        <div id="content">
            <div class="post">
                <a href="javascript:;">
                    <img src="/static/images/虎鯨1.png" alt="">
                    <h2>沙花叉庫洛艾</h2>
                    <p>《秘密結社holoX》の掃除屋でholoXのインターン生。冷静沈着で淡々と組織からの依頼をこなす。音楽が好きで、よく音楽を聴いている。本人は否定しているが、ツンデレに見られるらしい。
                        《秘密結社holoX》的掃除屋與holoX的實習生。冷靜沉着的執行來自組織的委託。喜歡音樂的她時不時就會聽着音樂。雖說本人一直否定，但在旁人眼裏看起來就是名傲嬌。
                    </p>
                    <p class="date">2021年11月26日</p>
                    <p class="more_s">MORE</p>
                </a>
            </div>
            <div class="post">
                <a href="javascript:;">
                    <img src="/static/images/Suisei3.png" alt="">
                    <h2>星街彗星</h2>
                    <p>如彗星般出現星（Star）之原石。我是虛擬偶像星街彗星。
                        以至今為止積累的全部、以從現在開始積累的全部，向大家傳達最好的音樂與舞台。
                        無法忘卻的瞬間、請與我共有吧
                        麻煩請你多多指教。</p>
                    <p class="date">2018年3月22日</p>
                    <p class="more_s">MORE</p>
                </a>
            </div>
            <div class="post">
                <a href="javascript:;">
                    <img src="/static/images/Towa9.png" alt="">
                    <h2>常闇永遠</h2>
                    <p>1人前の悪魔になる為の社会勉強として人間界にやってきた小悪魔。本来勉強をしなきゃいけないところ、ゲームに出会ってしまい、夢中になる。配信という人間達とのコミュニケーションツールを見つけそこで勉強を試みる。
                        為了成為獨當一面的惡魔作為社會學習而來到人類世界的小惡魔。本來是不得不學習的關頭、卻與遊戲相遇、痴迷上遊戲。在這之中發現了「直播」這種與人類交流的工具、藉此嘗試去學習。</p>
                    <p class="date">2019年12月25日</p>
                    <p class="more_s">MORE</p>
                </a>
            </div>
            <div class="post">
                <a href="javascript:;">
                    <img src="/static/images/YMD3.png" alt="">
                    <h2>拉普拉斯·達克尼斯</h2>
                    <p>《秘密結社holoX》を設立した総帥。本来頭も良く、力も膨大だが、今は力の大半が封印されている。枷のせいで力の大半が封印されていることは本人も薄々感じているが、いつからかけられたのかよく覚えていない。側にいるカラスとは長い付き合い。
                        成立《祕密結社holoX》的總帥。頭腦聰穎且有着強大力量的她，如今卻因為枷鎖封印了大半的力量。雖說本人也有意識到這點，但早已遺忘是何時被施加封印。與身旁的烏鴉已熟識許久。
                    </p>
                    <p class="date">2021年11月26日</p>
                    <p class="more_s">MORE</p>
                </a>
            </div>
        </div>
        <div id="footer">
            <div id="lowcase_logo">
                <a href="">Hololive</a>
            </div>
            <span>HOLOLIVE</span>
            <!-- 頁尾SN區塊 -->
            <div id="iconmenu">
                <ul>
                    <li><a href=""><img src="/static/images/rss.png" alt=""></a></li>
                    <li><a href=""><img src="/static/images/linkedin.png" alt=""></a></li>
                    <li><a href=""><img src="/static/images/twitter.png" alt=""></a></li>
                    <li><a href=""><img src="/static/images/youtube.png" alt=""></a></li>
                </ul>
            </div>
            <!-- 頁尾Nav區塊 -->
            <div id="submenu">
                <ul>
                    <li><a href="">Holove</a></li>
                    <li><a href="">Charter</a></li>
                    <li><a href="">History</a></li>
                </ul>
            </div>
            <!-- CopyRight區塊 -->
            <small>CopyRight區塊 &copy;</small>
        </div>
    </div>
</body>

</html>